<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Игра Кости - Dice game</title>
</head>

<body>
Добро пожаловать в игру Кости - Dice!
<br />
<form name="input" action="/" method="get">
    Имя игрока: <input type="text" name="username"><br />
    Количество кубиков в игре: <input type="text" name="dicenum"><br />
    <input type="hidden" name="action" value="login">
    <input type="submit" value="Войти в игру">
</form>
<br />

</body>
</html>
